@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="card cardLogin">
    <div class="card-body">
        <h2 class="text-center">Login</h2>
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" autofocus />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="buttons">
                <button class="btn btn-outline-primary spaceBetweentButtons">Login</button>
                <a class="btn btn-outline-success spaceBetweentButtons" asp-action="Create">Go to Register</a>
            </div>
        </form>

    </div>.
</div>


@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
