html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.title {
    text-align: center;
    color: blue;
}

.formCenter{
    display:flex;
    justify-content:center;
}

.headerSpacer {
    flex: 1 1 auto;
}

.cardLogin{
    margin:0px auto;
    min-height: 300px;
    max-width:400px;
}

.smallCard {
    margin: 0px auto;
    min-height: 200px;
    max-width: 400px;
}

.buttons {
    width: 80%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spaceBetweentButtons{
    margin: 10px 10px;
}
