html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.title {
    text-align: center;
    color: blue;
}

.formCenter{
    display:flex;
    justify-content:center;
}

.headerSpacer {
    flex: 1 1 auto;
}

.cardLogin{
    margin:0px auto;
    min-height: 300px;
    max-width:400px;
}

.smallCard {
    margin: 0px auto;
    min-height: 200px;
    max-width: 400px;
}

.buttons {
    width: 80%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spaceBetweentButtons{
    margin: 10px 10px;
}

.menuOption {
    text-shadow: 0.4px 0.2px 0.2px #9c9393, 0.1px 0.1px 0px #9c9393, 0.2px 0.2px 0px #9c9393;
    transition: all 500ms;
    letter-spacing: 1px;
}

.menuOption:hover {
    cursor: pointer;
    letter-spacing: 1.5px;
    text-shadow: 0px 0px 0px #9c9393, -0.6px -0.6px 0px #9c9393, -0.8px -0.8px 0px #9c9393;
}